<div class="container small-top-margin">
  <iframe 
      src="http://player.twitch.tv/?channel=<%= @stream_name %>" 
      height="720" 
      width="1280" 
      frameborder="0" 
      scrolling="no" 
      allowfullscreen>
  </iframe>
</div>