<div class="container">
  <h1 class="profile-header exo"><%= image_tag(@user.image_url)%><%= @user.display_name %></h1>
  <h3 class="exo"><%= @user.email%></h3>
  <p class="exo"><%= @user.bio%></p>
</div>