@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900|Shadows+Into+Light);
@import "welcome";

.shadows {
  font-family: 'Shadows Into Light', cursive;
}

.exo {
  font-family: 'Exo 2', sans-serif;
}

.small-left-margin {
  margin-left: 20px;
}

.md-left-margin {
  margin-left: 40px;
}

.small-top-margin {
  margin-top: 20px;
}

.card {
  height: 375px;
}

.profile-header img {
  width: 120px;
  height: 120px;
}